<div class="container-body">
  <mat-card [formGroup]="collectionListForm">
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button (click)="retour()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        Ajouter Collection
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="titre" placeholder="Entrez un titre" maxlength="255" minlength="2">
        <mat-icon matPrefix>title</mat-icon>
        <mat-error *ngIf="collectionListForm.get('titre')?.hasError('required')">
          Le titre est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sous Titre</mat-label>
        <input matInput formControlName="sous_titre" placeholder="Entrez un sous titre" maxlength="255" minlength="2">
        <mat-icon matPrefix>subtitles</mat-icon>
        <mat-error *ngIf="collectionListForm.get('sous_titre')?.hasError('required')">
          Le sous titre est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Texte de Bouton</mat-label>
        <input matInput formControlName="btn_text" placeholder="Entrez un texte pour le bouton" maxlength="255" minlength="2">
        <mat-icon matPrefix>touch_app</mat-icon>
        <mat-error *ngIf="collectionListForm.get('btn_text')?.hasError('required')">
          Le texte de bouton est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choisir Lien du Bouton</mat-label>
        <mat-select formControlName="btn_link" placeholder="Choisir Lien de Bouton" required>
          <mat-option *ngFor="let prod of listProduit" [value]="prod.slug">{{ prod.slug }}</mat-option>
        </mat-select>
        <mat-icon matPrefix>link</mat-icon>
        <mat-error *ngIf="collectionListForm.get('prod')?.hasError('required')">
          Le produit est requis.
        </mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="publier" aria-label="Select an option">
        <mat-label>Publier dans le site</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-content>
      <div class="upload-container">
        <!-- Bouton de sélection multiple -->
        <div class="upload-button-wrapper">
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            Choisir des images
            <mat-icon>image</mat-icon>
          </button>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" multiple hidden />
        </div>

        <!-- Liste des aperçus d'images -->
        <div class="image-previews-container">
          <div class="image-preview-wrapper" *ngFor="let preview of imagePreviews; let i = index">
            <div class="image-frame">
              <img [src]="preview" alt="Aperçu de l'image" class="preview-image">
              <button mat-icon-button class="remove-button" (click)="removeImage(i)">
                <mat-icon>close</mat-icon>
              </button>
              <h5 class="image-name">
                {{selectedFiles[i].name}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button class="annuler" mat-raised-button>
        <mat-icon>cancel</mat-icon> Annuler
      </button>
      <button (click)="addCollection()" class="enregistrer" mat-raised-button>
        <div class="save">
          <mat-icon>save</mat-icon> Enregistrer
          <div *ngIf="spinnerProgress">
            <app-spinner />
          </div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
