<div class="container-body">
  <mat-card mat-card [formGroup]="prodListForm">
    <mat-card-header>
      <mat-card-title>
        <button mat-icon-button (click)="retour()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        Ajouter Produit
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Nom du produit</mat-label>
        <input matInput formControlName="designation" placeholder="Entrez une Designation" maxlength="60" minlength="2">
        <mat-icon matPrefix>format_align_left</mat-icon>
        <mat-error *ngIf="prodListForm.get('designation')?.hasError('required') && prodListForm.get('designation')">
          La designation est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantite</mat-label>
        <input matInput formControlName="quantite" type="number" placeholder="0" min="1" step="1">
        <mat-icon matPrefix>exposure</mat-icon>
        <mat-error *ngIf="prodListForm.get('quantite')?.hasError('required') && prodListForm.get('quantite')">
          La quantite est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prix Unitaire</mat-label>
        <input matInput formControlName="prixUnitaire" type="number" placeholder="0" min="1" step="1" maxlength="100"
          minlength="1">
        <mat-icon matPrefix>account_balance_walle</mat-icon>
        <mat-error *ngIf="prodListForm.get('prixUnitaire')?.hasError('required') && prodListForm.get('prixUnitaire')">
          La prix unitaire est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prix Regulier</mat-label>
        <input matInput formControlName="prixRegulier" type="number" placeholder="0" min="1" step="1" maxlength="100"
          minlength="1">
        <mat-icon matPrefix>account_balance_walle</mat-icon>
        <mat-error *ngIf="prodListForm.get('prixRegulier')?.hasError('required') && prodListForm.get('prixRegulier')">
          La prix regulier est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choisir la categorie</mat-label>
        <mat-select formControlName="cat" placeholder="Choisir la categorie" required>
          <mat-option *ngFor="let cat of listCategorie" [value]="cat">{{ cat.nom }}</mat-option>
        </mat-select>
        <mat-icon matPrefix>category</mat-icon>
        <mat-error *ngIf="prodListForm.get('cat')?.hasError('required') && prodListForm.get('cat')">
          La categorie est requis.
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
            <mat-radio-group formControlName="nouveaute" aria-label="Select an option">
        <mat-label>Plus Nouveaute</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group formControlName="plusVendu" aria-label="Select an option">
        <mat-label>Plus Vendu</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group formControlName="offreSpeciale" aria-label="Select an option">
        <mat-label>Offre Speciale</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group formControlName="vedette" aria-label="Select an option">
        <mat-label>Vedette</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>

      <mat-radio-group formControlName="publier" aria-label="Select an option">
        <mat-label>Publier dans le site</mat-label>
        <mat-radio-button [value]="true">ACTIVÉ</mat-radio-button>
        <mat-radio-button [value]="false">DÉSACTIVÉ</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Entrez une description" maxlength="500"
          minlength="2"></textarea>
        <mat-icon matPrefix>description</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="note" placeholder="Entrez une note" maxlength="500"
          minlength="2"></textarea>
        <mat-icon matPrefix>description</mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content>
      <div class="upload-container">
        <!-- Bouton de sélection -->
        <div class="upload-button-wrapper">
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            Choisir une image
            <mat-icon>image</mat-icon>
          </button>
          <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
        </div>

        <!-- Aperçu de l'image -->
        <div class="image-preview-container" *ngIf="imagePreview">
          <div class="image-frame">
            <img [src]="imagePreview" alt="Aperçu de l'image sélectionnée" class="preview-image">
            <button mat-icon-button class="remove-button" (click)="removeImage()">
              <mat-icon>close</mat-icon>
            </button>
            <h5 class="image-name">
              {{selectedFile?.name}}
            </h5>
          </div>
        </div>
      </div>
    </mat-card-content>


    <mat-card-actions>
      <button (click)="annulerProd()" class="annuler" mat-raised-button>Annuler</button>
      <button (click)="ajoutProd()" class="enregistrer" mat-raised-button>
        <div class="save">
          Enregistrer
          <div *ngIf="spinnerProgress">
            <app-spinner />
          </div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>

</div>